*{
    margin:0;
    padding:0;
    box-sizing:0;
    list-style:none;
    text-decoration: none;
    color:rgba(88, 0, 0, 0.58);
}

.title{
    position: relative;
    top: 50px;
    text-transform: uppercase;
    text-align: center;
    color: rgba(0, 0, 0, 0.527);
}

.d1{
    width: 400px;
    height: 300px;  
    position:absolute;
    top: 150px;
    z-index:2;
}
.d2{
    width: 100%;
    height:100%;
    position:absolute;
    /* bottom: 10px; */
    z-index:1;
}
.item-1{
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items:center;
}
.item-2{
    height: 200vh;
}
p{
    top: 10px;
    position: sticky;
    text-align: center;

}
footer{
    width: 100%;
    position:fixed;
    bottom: 10px;
    display: flex;
    justify-content:center;
}
ul{
    display:grid;
    grid-template-columns: repeat(3,100px);
    column-gap:10px;
    text-align: center;
}
a,p{
    text-shadow:10px 5px 1px rgb(214,222,225);
}